In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\91882\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
#read file
df = pd.read_csv("matches_2008-2024.csv")
#read_excel,#read_json (for cloud platform data use -> gcsfs )
print(df)

In [ ]:
#to create a file in panda

data={
    "Name":["prince","jha","uttam"],
    "Age":[10,12,24],
    "city":["nagpur","mumbai","delhi"],

}
df= pd.DataFrame(data)
print(df)

df.to_csv("output.csv",index=False)#to remove index no of file.
#for excel df.to_excel("name",index), df.to_json("name",index=)

     Name  Age    city
0  prince   10  nagpur
1     jha   12  mumbai
2   uttam   24   delhi

In [ ]:
#explore data
#step-1 understand the data, 2) identify the problems,3) plan next step #head(n),tail(n), n-no of rows ,default 5 lows is euqal to n
import pandas as pd
df = pd.read_csv("matches_2008-2024.csv")
# print(df.head(10))
# print(df.tail(10))

information = df.info() #infromation of data or provide overview of the data(summery)
print(information)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   int64
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 171.2+ KB
None

In [ ]:
import pandas as pd
data ={
    "name":["prince","rahul","mohit","uttam","sonu","monu","komal","juli"],
    "Age":[40,34,55,63,40,45,56,35],
    "Salary":[12000,34000,67000,78000,47000,78000,69000,70000],
    "Performance Score":[85,46,77,89,90,66,90,88]
}
df=pd.DataFrame(data)
print("sample dataframe")
print(df)
print("Descriptive Mean")
print(df.describe())

sample dataframe
     name  Age  Salary  Performance Score
0  prince   40   12000                 85
1   rahul   34   34000                 46
2   mohit   55   67000                 77
3   uttam   63   78000                 89
4    sonu   40   47000                 90
5    monu   45   78000                 66
6   komal   56   69000                 90
7    juli   35   70000                 88
Descriptive Mean
             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   46.000000  56875.000000          78.875000
std    10.743769  23751.315753          15.679263
min    34.000000  12000.000000          46.000000
25%    38.750000  43750.000000          74.250000
50%    42.500000  68000.000000          86.500000
75%    55.250000  72000.000000          89.250000
max    63.000000  78000.000000          90.000000

In [22]:
#how big your data
de=pd.DataFrame(data)
print(df)
print(f"Shape:{df.shape}")
print({f'Column names:{df.columns}'})

     name  Age  Salary  Performance Score
0  prince   40   12000                 85
1   rahul   34   34000                 46
2   mohit   55   67000                 77
3   uttam   63   78000                 89
4    sonu   40   47000                 90
5    monu   45   78000                 66
6   komal   56   69000                 90
7    juli   35   70000                 88
Shape:(8, 4)
{"Column names:Index(['name', 'Age', 'Salary', 'Performance Score'], dtype='object')"}

<!-- 1- select specific column
2- filter rows
3- combine multiple conditions -->
column = df["column1"]
column = df["column1","column2"]
filtered_rows = df[df["salary"]> 50000] #single consition
filter_row = df[(df["salary]>50000)& (df["column2]<80000)]

In [ ]:
import pandas as pd
data ={
    "Name":["prince","rahul","mohit","uttam","sonu","monu","komal","juli"],
    "Age":[40,34,55,63,40,45,56,35],
    "Salary":[12000,34000,67000,78000,47000,78000,69000,70000],
    "Performance Score":[85,46,77,89,90,66,90,88]
}
df=pd.DataFrame(data)
print("sample Data frame")
print(df)
print("name (Single colums return Series)")
# print(df["Name"]) #for single column
sunset = df[["Name","Salary"]] # for multiple dataset
print("\nsubset with name and salary.")
print(sunset)

In [ ]:
#row filtering
import pandas as pd
data ={
    "Name":["prince","rahul","mohit","uttam","sonu","monu","komal","juli"],
    "Age":[40,34,55,63,40,45,56,35],
    "Salary":[12000,34000,67000,78000,47000,78000,69000,70000],
    "Performance Score":[85,46,77,89,90,66,90,88]
}
df=pd.DataFrame(data)
print("sample Data frame")

high_salary = df[df['Salary']>50000]
print(high_salary)
print("more than one condition")
filtered = df[(df['Age']>30)& (df['Salary']>50000)]
print(filtered)
filtered_or =df[(df['Age']>35) | (df['Performance Score']>85)]
print(filtered_or)

sample Data frame
    Name  Age  Salary  Performance Score
2  mohit   55   67000                 77
3  uttam   63   78000                 89
5   monu   45   78000                 66
6  komal   56   69000                 90
7   juli   35   70000                 88
more than one condition
    Name  Age  Salary  Performance Score
2  mohit   55   67000                 77
3  uttam   63   78000                 89
5   monu   45   78000                 66
6  komal   56   69000                 90
7   juli   35   70000                 88
     Name  Age  Salary  Performance Score
0  prince   40   12000                 85
2   mohit   55   67000                 77
3   uttam   63   78000                 89
4    sonu   40   47000                 90
5    monu   45   78000                 66
6   komal   56   69000                 90
7    juli   35   70000                 88